Source: xcs
Section: unknown
Priority: optional
Maintainer: Michal Koutný <xm.koutny@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
  binutils,
  cmake,
  cmake-data,
  cpp (>= 4.8),
  dash,
  g++ (>= 4.8),
  gcc (>= 4.8),
  libarchive13,
  libasn1-8-heimdal,
  libattr1,
  libavcodec54,
  libavcodec-dev,
  libavfilter3,
  libavformat54,
  libavformat-dev,
  libavutil52,
  libavutil-dev,
  libblas3,
  libblas-dev,
  libboost-dev,
  libboost-filesystem-dev,
  libboost-log-dev,
  libboost-regex-dev,
  libboost-system-dev,
  libboost-thread-dev,
  libbz2-1.0,
  libc6-dev,
  libc-bin,
  libcloog-isl4,
  libcomerr2,
  libcurl3,
  libegl1-mesa,
  libfakeroot,
  libffi6,
  libgcc1,
  libgcc-4.8-dev,
  libgcrypt11,
  libgl1-mesa-dev,
  libgl1-mesa-glx,
  libgl1-mesa-glx:i386,
  libglu1-mesa,
  libglu1-mesa-dev,
  libgmp10,
  libgnutls26,
  libgpg-error0,
  libgssapi3-heimdal,
  libgssapi-krb5-2,
  libhcrypto4-heimdal,
  libheimbase1-heimdal,
  libheimntlm0-heimdal,
  libhx509-5-heimdal,
  libice6,
  libice-dev,
  libidn11,
  libisl10,
  libk5crypto3,
  libkeyutils1,
  libkrb5-26-heimdal,
  libkrb5-3,
  libkrb5support0,
  liblapack3,
  liblapack-dev,
  libldap-2.4-2,
  liblzma5,
  liblzo2-2,
  libmpc3,
  libmpfr4,
  libnettle4,
  libopencv-dev,
  libp11-kit0,
  libport,
  libport-dev,
  libroken18-heimdal,
  librtmp0,
  libsasl2-2,
  libsm6,
  libsm-dev,
  libsqlite3-0,
  libssl1.0.0,
  libstdc++-4.8-dev,
  libstdc++6,
  libswscale2,
  libswscale-dev,
  libtasn1-6,
  libwind0-heimdal,
  libx11-6,
  libx11-dev,
  libxext6,
  libxext-dev,
  libxml2,
  locales,
  make,
  urbi,
  urbi-dev,
  libxcs-ptam-dev,
  zlib1g
Standards-Version: 3.9.4
Homepage: http://drones.ms.mff.cuni.cz/xcs
#Vcs-Git: git://git.debian.org/collab-maint/urbi.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/urbi.git;a=summary

#
# Core
#
Package: xcs-core
Architecture: any
Depends: ${shlibs-core:Depends}
Description: Core libraries for X-Copter Studio

Package: xcs-core-dev
Architecture: all
Depends: xcs-core
Recommends: xcs-driver-dev
Description: Development files for X-Copter Studio

#
# Drivers
#
Package: xcs-driver-dev
Architecture: all
Depends: ${shlibs:Depends}
Description: Development files for XCS's XCI

Package: xcs-driver-parrot
Architecture: any
Depends: ${shlibs-driver-parrot:Depends}
Description: XCI implementation for AR.Drone Parrot 2

Package: xcs-driver-dodo
Architecture: any
Depends: ${shlibs-driver-dodo:Depends}
Description: XCI implementation with simple simulator

Package: xcs-driver-vrep
Architecture: any
Depends: ${shlibs-driver-vrep:Depends}
Description: XCI implementation for V-REP simulator

Package: xcs-nodes-all
Architecture: all
Depends: xcs-driver-dodo,
  xcs-driver-parrot,
  xcs-driver-vrep
Description: Metapackage of all XCS XCI drivers

#
# Urbiscripts
#
Package: xcs-onboard
Architecture: all
Depends: urbi, xcs-node-settings, xcs-node-json, xcs-core, xcs-node-guiproxy
Recommends: xcs-nodes-all, xcs-drivers-all
Description: X-Copter Studio onboard component

#
# Server
#
Package: xcs-server
Architecture: all
Depends: nodejs, npm
Description: X-Copter Studio server component

#
# Nodes
#
Package: xcs-node-checkpoint-movement
Architecture: any
Depends: ${shlibs-node-checkpoint-movement:Depends}
Description: XCS node checkpoint-movement...

Package: xcs-node-control
Architecture: any
Depends: ${shlibs-node-control:Depends}
Description: XCS node control...

Package: xcs-node-datalogger
Architecture: any
Depends: ${shlibs-node-datalogger:Depends}
Description: XCS node datalogger...

Package: xcs-node-dataplayer
Architecture: any
Depends: ${shlibs-node-dataplayer:Depends}
Description: XCS node dataplayer...

Package: xcs-node-flycontrol-aggregator
Architecture: any
Depends: ${shlibs-node-flycontrol-aggregator:Depends}
Description: XCS node flycontrol-aggregator...

Package: xcs-node-guiproxy
Architecture: any
Depends: ${shlibs-node-guiproxy:Depends}
Description: XCS node guiproxy...

Package: xcs-node-json
Architecture: any
Depends: ${shlibs-node-json:Depends}
Description: XCS node json...

#Package: xcs-node-line-drawer
#Architecture: any
#Depends: ${shlibs-node-line-drawer:Depends}
#Description: XCS node line-drawer...

Package: xcs-node-line-finder
Architecture: any
Depends: ${shlibs-node-line-finder:Depends}
Description: XCS node line-finder...

Package: xcs-node-line-keeper
Architecture: any
Depends: ${shlibs-node-line-keeper:Depends}
Description: XCS node line-keeper...

Package: xcs-node-localization
Architecture: any
Depends: ${shlibs-node-localization:Depends}, libxcs-ptam
Description: XCS node localization...

Package: xcs-node-multiplexer
Architecture: any
Depends: ${shlibs-node-multiplexer:Depends}
Description: XCS node multiplexer...

Package: xcs-node-pid
Architecture: any
Depends: ${shlibs-node-pid:Depends}
Description: XCS node pid...

Package: xcs-node-red-dot
Architecture: any
Depends: ${shlibs-node-red-dot:Depends}
Description: XCS node red-dot...

Package: xcs-node-settings
Architecture: any
Depends: ${shlibs-node-settings:Depends}
Description: XCS node settings...

Package: xcs-node-xci
Architecture: any
Depends: ${shlibs-node-xci:Depends}
Recommends: xcs-driver-parrot, xcs-driver-vrep, xcs-driver-dodo
Description: XCS node xci...

Package: xcs-nodes-all
Architecture: all
Depends: xcs-node-checkpoint-movement,
  xcs-node-control,
  xcs-node-datalogger,
  xcs-node-dataplayer,
  xcs-node-flycontrol-aggregator,
  xcs-node-guiproxy,
  xcs-node-json,
  xcs-node-line-finder,
  xcs-node-line-keeper,
  xcs-node-localization,
  xcs-node-multiplexer,
  xcs-node-pid,
  xcs-node-red-dot,
  xcs-node-settings,
  xcs-node-xci
Description: Metapackage of all XCS nodes

