#!/usr/bin/make -f
# -*- makefile -*-


MK_FILE := $(abspath $(lastword $(MAKEFILE_LIST)))
MK_DIR := $(patsubst %/,%,$(dir $(MK_FILE)))

ONBOARD_SRC_DIR=$(MK_DIR)/../xcs/onboard/src
ONBOARD_BUILD_DIR=$(MK_DIR)/build_$(DEB_BUILD_ARCH)
ONBOARD_INS_DIR=$(MK_DIR)/tmp


MAKEFLAGS=
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    MAKEFLAGS += -j$(NUMJOBS)
endif

NODES=checkpoint-movement\
control\
datalogger\
dataplayer\
flycontrol-aggregator\
guiproxy\
json\
libe-drawer\
line-finder\
line-keeper\
localization\
multiplexer\
pid\
red-dot\
settings\
xci

DRIVERS=dodo parrot vrep

SIMPLE=xcs-onboard xcs-nodes-all xcs-core-dev xcs-server xcs-drivers-all\
xcs-onboard-examples xcs-doc

build: build-arch build-indep

build-indep:

build-arch:
	mkdir -p $(ONBOARD_BUILD_DIR)
	cd $(ONBOARD_BUILD_DIR) && cmake $(ONBOARD_SRC_DIR)\
		-DUSE_SYSTEM_LIBRARIES=1\
		-DCMAKE_BUILD_TYPE=Release\
		-DCMAKE_INSTALL_PREFIX=$(ONBOARD_INS_DIR)
	$(MAKE) $(MAKEFLAGS) -C $(ONBOARD_BUILD_DIR) install
	touch $@


binary: binary-arch binary-indep

binary-indep: $(addprefix bin-simple-, $(SIMPLE))

binary-arch: bin-xcs-core\
  $(addprefix bin-driver-, $(DRIVERS)) bin-driver-dev\
  $(addprefix bin-node-, $(NODES))

clean: $(addprefix clean-driver-, $(DRIVERS))\
  $(addprefix clean-node-, $(NODES))\
  $(addprefix clean-simple-, $(SIMPLE))
	rm -f build-arch binary-arch prepare_binary $(MK_DIR)/files
	rm -rf $(ONBOARD_BUILD_DIR) $(ONBOARGD_INS_DIR)
	rm -rf $(MK_DIR)/xcs-core $(MK_DIR)/xcs-driver-dev 

#
# Implementation
#

prepare_binary: fix_permissions
	dh_install --sourcedir=$(MK_DIR)/tmp
	dh_installdeb
	mv $(MK_DIR)/xcs-onboard-examples/usr/share/xcs/examples/pid.xob/CMakeLists_example.txt\
		$(MK_DIR)/xcs-onboard-examples/usr/share/xcs/examples/pid.xob/CMakeLists.txt
	touch $@

fix_permissions:
	chmod 755 $(MK_DIR)/../xcs/onboard/bin/*
	chmod 755 $(MK_DIR)/../xcs/server/xcs-server

bin-driver-%: prepare_binary
	mkdir -p $(MK_DIR)/xcs-driver-$*/DEBIAN
	dpkg-shlibdeps -pshlibs-driver-$* $(ONBOARD_INS_DIR)/lib/xci_$*.so 2>/dev/null
	dpkg-gencontrol -pxcs-driver-$* -P$(MK_DIR)/xcs-driver-$*
	dpkg-deb -b $(MK_DIR)/xcs-driver-$* ..

bin-node-%: prepare_binary
	mkdir -p $(MK_DIR)/xcs-node-$*/DEBIAN
	dpkg-shlibdeps -pshlibs-node-$* $(ONBOARD_INS_DIR)/lib/xcs/xobjects/x$(subst -,_,$*).so 2>/dev/null
	dpkg-gencontrol -pxcs-node-$* -P$(MK_DIR)/xcs-node-$*
	dpkg-deb -b $(MK_DIR)/xcs-node-$* ..

bin-xcs-core: prepare_binary
	mkdir -p $(MK_DIR)/xcs-core/DEBIAN
	dpkg-shlibdeps -pshlibs-core -e$(ONBOARD_INS_DIR)/lib/libxcs.so -e$(ONBOARD_INS_DIR)/lib/libxobject.so 2>/dev/null
	dpkg-gencontrol -pxcs-core -P$(MK_DIR)/xcs-core
	dpkg-deb -b $(MK_DIR)/xcs-core ..

bin-simple-%: prepare_binary
	mkdir -p $(MK_DIR)/$*/DEBIAN
	dpkg-gencontrol -p$* -P$(MK_DIR)/$*
	dpkg-deb -b $(MK_DIR)/$* ..

clean-driver-%:
	rm -rf $(MK_DIR)/xcs-driver-$*

clean-node-%:
	rm -rf $(MK_DIR)/xcs-node-$*

clean-simple-%:
	rm -rf $(MK_DIR)/$*

